<a href="https://colab.research.google.com/github/Suryan5h/Natural-Language-Processing/blob/main/basics/PoSTagging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
tagged_words = pd.read_csv('tagged_words.csv')

In [3]:
tagged_words

               word   tag
0               the   DET
1            fulton  NOUN
2            county  NOUN
3             grand   ADJ
4              jury  NOUN
...             ...   ...
1161187      boucle  NOUN
1161188       dress  NOUN
1161189         was  VERB
1161190  stupefying  VERB
1161191           !   ADJ

[1161192 rows x 2 columns]

In [6]:
tagged_words[tagged_words['word']=='saw'].value_counts()

word  tag
saw   VERB    347
      NOUN      5
dtype: int64

In [8]:
tagged_words[tagged_words['word']=='SAW'].value_counts()

Series([], dtype: int64)

In [9]:
data = pd.read_csv("tagged_words.csv")
sent = "I saw him running away"

def get_common_tag(data,word):
    if word.lower() in data['word'].unique():
        q = f"word=='{word.lower()}'"
        return word , data.query(q)['tag'].value_counts().head(1).index.tolist()[0]
    else:
        return f"{word} not in data"

for word in sent.split(" "):
    print(get_common_tag(data,word))
 
data.query("word=='saw'")['tag'].value_counts()

('I', 'PRON')
('saw', 'VERB')
('him', 'PRON')
('running', 'VERB')
('away', 'ADV')

VERB    347
NOUN      5
Name: tag, dtype: int64

In [10]:
sent = "He wished he was rich"
for word in sent.split(" "):
    print(get_common_tag(data,word))

('He', 'PRON')
('wished', 'VERB')
('he', 'PRON')
('was', 'VERB')
('rich', 'ADJ')

In [56]:
crosstbl = pd.crosstab(tagged_words['word'],tagged_words['tag'],normalize='columns')

In [57]:
crosstbl.loc['his']

tag
ADJ     0.000000
ADP     0.000000
ADV     0.000000
CONJ    0.000000
DET     0.050774
NOUN    0.000000
NUM     0.000000
PRON    0.000750
PRT     0.000000
VERB    0.000000
X       0.001443
Name: his, dtype: float64

In [53]:
crosstbl.PRON.value_counts()

0       49741
1          17
5           3
2           3
4           3
3           2
37          2
10          2
13          1
2252        1
145         1
1798        1
3286        1
25          1
2652        1
671         1
14          1
3620        1
67          1
270         1
1775        1
21          1
17          1
27          1
2860        1
2619        1
6           1
7           1
9546        1
1107        1
16          1
125         1
603         1
66          1
5155        1
8759        1
304         1
1180        1
129         1
41          1
8           1
Name: PRON, dtype: int64

In [54]:
sum(crosstbl.PRON)

49334

In [55]:
37/49246

0.0007513300572635341

In [60]:
crosstbl['PRON'].loc['his'].round(3)

0.001

In [58]:
import pandas as pd
data = pd.read_csv("tagged_words.csv")
emmission_matrix = pd.crosstab(data['word'],data['tag'],normalize='columns')

word = 'his'
emmission_matrix.loc[word][emmission_matrix.loc[word]>0].round(3)
emmission_matrix['PRON'].loc['his'].round(3)

0.001

In [61]:
import spacy
sp = spacy.load('en_core_web_sm')

In [62]:
sen = sp(u"I like to play football. I hated it in my childhood though")

In [63]:
print(sen[7].pos_)

VERB

In [64]:
print(sen[7].tag_)

VBD

In [65]:
print(sen[7].pos)

100

In [66]:
print(sen[7].tag)

17109001835818727656